@{
    Layout = "_Layout";
}

<div class="container">
    <h2 class="text-center my-5">My Projects</h2>
    <div class="row">
        <!-- Project 1 -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Project 1">
                <div class="card-body">
                    <h5 class="card-title">Project 1</h5>
                    <p class="card-text">A description of the first project goes here. It's a great example of my work.</p>
                </div>
            </div>
        </div>

        <!-- Project 2 -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Project 2">
                <div class="card-body">
                    <h5 class="card-title">Project 2</h5>
                    <p class="card-text">This is the second project. A more complex app that demonstrates my ability to integrate various technologies.</p>
                </div>
            </div>
        </div>

        <!-- Project 3 -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Project 3">
                <div class="card-body">
                    <h5 class="card-title">Project 3</h5>
                    <p class="card-text">A fun project that showcases some creative coding and interactive features.</p>
                </div>
            </div>
        </div>
    </div>
</div>
